<!doctype html>
<html class="h-100">

<th:block th:insert="~{elements/head}" th:with="title=|media details|" />

<body class="h-100 d-flex flex-column">
  <th:block th:insert="~{elements/navbar}" />

  <main class="flex-grow-1 container">
    <h1 class="text-truncate">
      <a th:href="@{/media}"><i class="bi bi-list"></i></a>
      <th:block th:text="${media.description} ?: _">Attached Media</th:block>
    </h1>

    <div class="mb-3 accordion" id="accordion">
      <div class="accordion-item">
        <div class="accordion-header">
          <button class="accordion-button fw-bold" data-bs-target="#fold-1" data-bs-toggle="collapse">
            Media Details
          </button>
        </div>
        <div class="accordion-collapse collapse show" id="fold-1" data-bs-parent="#accordion">
          <div class="accordion-body">
            <th:block th:insert="~{forms/media}" />
          </div>
        </div>
      </div>
    </div>
  </main>

  <th:block th:insert="~{elements/navend}" />
</body>

</html>
