<form th:action="@{/group}" th:method="post" th:object="${group}" class="m-0" enctype="multipart/form-data">
  <input th:field="*{uuid}" th:if="*{uuid}" type="hidden">
  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label fw-bold" for="name">Group Name</label>
      <div class="form-floating">
        <input placeholder required th:field="*{name}" class="form-control">
        <label class="form-label">Group about Stuff</label>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label fw-bold">Group Settings</label>
      <div class="form-check form-switch">
        <input th:field="*{enabled}" class="form-check-input" id="enabled" type="checkbox">
        <input name="enabled" type="hidden" value="false">
        <label class="form-check-label" for="enabled">
          <strong>Enable Group</strong>
          <small>(activates scheduled submissions)</small>
        </label>
      </div>
      <div class="form-check form-switch">
        <input th:field="*{threaded}" class="form-check-input" id="threaded" type="checkbox">
        <input name="threaded" type="hidden" value="false">
        <label class="form-check-label" for="threaded">
          <strong>Thread Group</strong>
          <small>(append subsequent status as reply)</small>
        </label>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label fw-bold" for="description">Group Description</label>
      <div class="form-floating">
        <input placeholder th:field="*{description}" class="form-control">
        <label class="form-label">Just another Group about some Stuff</label>
      </div>
    </div>
  </div>
  <div class="accordion-footer d-flex flex-row-reverse">
    <button th:text="*{uuid} ? 'Update' : 'Create'" class="btn btn-outline-primary"></button>
    <th:block  th:if="*{uuid}">
      <button class="btn btn-outline-secondary me-1" type="reset">Reset</button>
      <button data-confirm class="btn btn-outline-danger me-1" name="_method" value="delete">Delete</button>
    </th:block>
  </div>
</form>
