<form th:action="${action}" th:method="post" th:object="${status}" class="m-0" enctype="multipart/form-data">
  <input th:field="*{group.uuid}" th:if="*{group}" type="hidden">
  <input th:field="*{uuid}" th:if="*{uuid}" type="hidden">
  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label fw-bold" for="date">Status Scheduling</label>
      <div class="form-floating">
        <input placeholder required th:field="*{date}" class="form-control" type="datetime-local">
        <label class="form-label">Date and Time this Status should be published</label>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label fw-bold" for="group.uuid">Status Grouping</label>
      <div th:if="*{group}" class="input-group">
        <div class="form-floating">
          <input placeholder readonly th:field="*{group.name}" class="form-control">
          <label class="form-label">Group this Status belongs to</label>
        </div>
        <a th:href="@{/group(uuid=*{group.uuid})}" class="input-group-text d-flex btn btn-outline-primary">
          <i class="bi bi-eye-fill"></i>
        </a>
      </div>
      <div th:unless="*{group}" class="form-floating">
        <select placeholder required th:field="*{group.uuid}" class="form-select">
          <option selected value="">-</option>
          <option th:each="group : ${groups}" th:text="${group.name}" th:value="${group.uuid}"></option>
        </select>
        <label class="form-label">Group this Status belongs to</label>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label fw-bold" for="status">Status Content</label>
      <div class="form-floating">
        <textarea placeholder required th:field="*{status}" class="form-control" maxlength="500"></textarea>
        <label class="form-label">Content for the Status</label>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label fw-bold" for="visibility">Visibility</label>
      <div class="form-floating">
        <select th:field="*{visibility}" class="form-select">
          <option value="PUBLIC">Public</option>
          <option value="UNLISTED">Unlisted</option>
          <option value="PRIVATE">Private</option>
          <option value="DIRECT">Direct</option>
        </select>
        <label class="form-label">Visibility of the Status</label>
      </div>

    </div>
  </div>
  <div class="accordion-footer d-flex flex-row-reverse">
    <button th:text="*{uuid} ? 'Update' : 'Create'" class="btn btn-outline-primary"></button>
    <th:block th:if="*{uuid}">
      <button class="btn btn-outline-secondary me-1" type="reset">Reset</button>
      <button class="btn btn-outline-danger me-1" name="_method" value="delete">Delete</button>
    </th:block>
  </div>
</form>
