<head>
  <title th:if="!${title}" th:text="${#buildProperties.name}"></title>
  <title th:if="${title}" th:text="${title} + ' // ' + ${#buildProperties.name}"></title>

  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}">
  <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <style>
    .navbar-brand {
      font-weight: bold;
      text-transform: uppercase;
    }
  </style>

  <script>
    (() => {
      const html = document.querySelector('html');
      const mode = matchMedia('(prefers-color-scheme: dark)');
      const work = () => html.dataset.bsTheme = mode.matches ? 'dark' : 'light';

      work(mode.addEventListener('change', work, { passive: true }));
    })();
  </script>
</head>
