<div class="table-responsive border rounded mb-3">
  <table class="table align-middle m-0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th class="text-center">Enabled</th>
        <th class="text-center">Threaded</th>
        <th class="text-end">Status</th>
        <th class="text-end">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="group : ${page}" th:object="${group}">
        <td th:text="*{#strings.abbreviate(name, 50)}"></td>
        <td th:text="*{description}"></td>
        <td class="text-center">
          <div class="d-inline-block form-check form-switch m-0">
            <input disabled th:checked="*{enabled}" class="form-check-input" type="checkbox">
          </div>
        </td>
        <td class="text-center">
          <div class="d-inline-block form-check form-switch m-0">
            <input disabled th:checked="*{threaded}" class="form-check-input" type="checkbox">
          </div>
        </td>
        <td th:text="*{status} ? *{status.size()} : 0" class="text-end"></td>
        <td class="text-end text-nowrap">
          <a th:href="@{/group(uuid=*{uuid})}" class="btn btn-sm btn-outline-primary">
            <i class="bi bi-eye-fill"></i>
          </a>
          <form th:action="@{/group}" th:method="post" class="d-inline-block m-0">
            <input th:value="*{uuid}" name="uuid" type="hidden">
            <button class="btn btn-sm btn-outline-danger" name="_method" value="delete">
              <i class="bi bi-trash-fill"></i>
            </button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>
