<div class="table-responsive border rounded mb-3">
  <table class="table align-middle m-0">
    <thead>
      <tr>
        <th th:if="${#path} == '/status'">Group</th>
        <th>Status</th>
        <th>Date (UTC)</th>
        <th class="text-center">Scheduling</th>
        <th class="text-end">Media</th>
        <th class="text-center">Visibility</th>
        <th class="text-end">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="status : ${page}" th:object="${status}">
        <td th:if="${#path} == '/status'" th:text="*{#strings.abbreviate(group.name, 50)}"></td>
        <td th:text="*{status}"></td>
        <td th:text="*{date}"></td>
        <td class="text-center">
          <i th:if="*{id}" class="bi bi-check-lg"></i>
          <th:block th:if="*{group.enabled}" th:unless="*{id}">
            <i th:if="*{date.isAfter(#instant)}" class="bi bi-hourglass-split"></i>
            <i th:if="*{date.isBefore(#instant)}" class="bi bi-x-lg"></i>
          </th:block>
        </td>
        <td th:text="*{media} ? *{media.size()} : 0" class="text-end"></td>
        <td th:text="*{visibility}" class="text-center"></td>
        <td class="text-end text-nowrap">
          <a th:href="@{/status(uuid=*{uuid})}" class="btn btn-sm btn-outline-primary">
            <i class="bi bi-eye-fill"></i>
          </a>
          <th:block th:if="${#path} == '/status'">
            <a th:href="@{/group(uuid=*{group.uuid})}" class="btn btn-sm btn-outline-secondary">
              <i class="bi bi-list"></i>
            </a>
          </th:block>
          <form th:action="@{/status}" th:method="post" class="d-inline-block m-0">
            <input th:value="*{uuid}" name="uuid" type="hidden">
            <button class="btn btn-sm btn-outline-danger" name="_method" value="delete">
              <i class="bi bi-trash-fill"></i>
            </button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>
