<!doctype html>
<html class="h-100">

<th:block th:insert="~{elements/head}" th:with="title=|media list|" />

<body class="h-100 d-flex flex-column">
  <th:block th:insert="~{elements/navbar}" />

  <main class="flex-grow-1 container">
    <h1>Media Dashboard</h1>

    <div class="mb-3 accordion" id="accordion">
      <div class="accordion-item">
        <div class="accordion-header">
          <button class="accordion-button collapsed fw-bold" data-bs-target="#fold-1" data-bs-toggle="collapse">
            Create new Media
          </button>
        </div>
        <div class="accordion-collapse collapse" id="fold-1" data-bs-parent="#accordion">
          <div class="accordion-body">
            <th:block th:insert="~{forms/media}" th:with="action=@{/media}" />
          </div>
        </div>
      </div>
    </div>

    <th:block th:if="${page.hasContent()}">
      <h2>Media Gallery</h2>
      <th:block th:insert="~{tables/media}" />
      <th:block th:if="${page.totalPages} > 1" th:insert="~{elements/pager}" />
    </th:block>
  </main>

  <th:block th:insert="~{elements/navend}" />
</body>

</html>
